<div>
    <img id="profile-img" src="../../../assets/FotoPerfil.png" alt="Foto de Perfil" width="150" height="150"/>
    <h1 id="title-name">Ramiro Larrea</h1>
    <p id="aplied-job">FrontEnd - BackEnd Developer</p>
</div>
<hr>
<div>
    <h3>Perfil personal</h3>
    <p id="personal-desc">
        Profesional responsable y capacitado
        en busca de un pusto como desarrollador
        FrontEnd o BackEnd. Mi objetivo es poner
        a prueba mis aptitudes técnicas, habilidades
        blandas y mejorar.
    </p>
</div>
<div>
    <h3>Información de contacto</h3>
    <ul>
        <li>Paraná-Entre Ríos(Argentina)</li>
        <li>Tel.Celular: 343 4 692-044</li>
        <li>Correo Electronico: ramiro_larrea18@hotmail.com</li>
        <li><a href="https://github.com/Ramita20" target="_blank">Perfil GitHub</a></li>
        <li><a href="https://www.linkedin.com/in/ramiro-larrea-47872a1ba/" target="_blank">Perfil LinkedIn</a></li>
    </ul>
</div>
<div>
    <h3>Habilidades técnicas</h3>
    <ul>
        <li>HTML y CSS</li>
        <li>JavaScript</li>
        <li>TypeScript</li>
        <li>Angular 6</li>
        <li>MySQL</li>
        <li>Java</li>
        <li>Git y GitHub</li>
    </ul>
</div>
<div>
    <h3>Idiomas</h3>
    <ul>
        <li>Inglés: B2</li>
    </ul>
</div>
<hr>
<div>
    <h2>Experiencias</h2>
    <h4>Argentina Programa</h4>
    <p>Proyecto final - portfolio</p>
    <p>FrontEnd</p>
    <ul>
        <li>Desarrollo con framework Angular 6</li>
        <li>Desarrollo de portfolio personal</li>
    </ul>
    <p>Base de Datos</p>
    <ul>
        <li>Desarrollo de base de datos con MySQL</li>
        <li></li>
    </ul>
    <p>BackEnd</p>
    <ul>
        <li>Desarrollo de gestor de base de datos en Java</li>
        <li>Desarrollo de interface en Java</li>
    </ul>
</div>
<div>
    <h2>Historial Académico</h2>
    <h4>Argentina Programa</h4>
    <p>Desarrollador FullStack - Finalizado</p>
    <p>(Febrero 2022 - Agosto 2022)</p>
    <ul>
        <li>Crear un portfolio desde 0</li>
        <li>Introdución al lenguaje HTML y CSS</li>
        <li>Manejo del DOM con JavaScript</li>
        <li>Introducción al framework Angular 6</li>
        <li>Analisis y diseño de una Base de Datos Relacional</li>
        <li>Introducción a POO y al lenguaje Java</li>
        <li>Desarrollo de gestor e interface de DDBB con Java</li>
    </ul>
</div>
